*{
    font-family: 'Oranienbaum', serif;
    margin: 0%;
    padding: 0%;
}

header {
    width: -webkit-fill-available;
    background-color: #EEEFF1;
}

.header {
    padding: 23px 0px 76px 276px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.logo{
    width: 129px;
    height: 128px;
}

.header-list{
    width: -webkit-fill-available;
    padding-left: 240px;
    padding-right: 120px;
}

.list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    align-content: center;
}

.list a {
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 164.06%;
    letter-spacing: 0.1em;
}

.dif a {
    color: #34547A;
}

.list a:hover {
    text-decoration: underline;
}

#first {
    width: -webkit-fill-available;
    padding-left: 276px;
    padding-right: 156px;
    padding-bottom: 159px;
    background-color: #EEEFF1;
}

.first {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start
}

.text-first {
    padding-left: 143px;
}

.text-first h1 {
    font-size: 48px;
    color: #8098B0;
    padding-top: 25px;
    line-height: 164.06%;
    font-style: normal;
    font-weight: 400;
}

.text-first p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 164.06%;
    color: #656565;
    padding-top: 45px;
}

.button-first {
    width: 222.3px;
    height: 65px;
    margin-top:  47px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 164.06%;
text-align: center;
letter-spacing: 0.1em;
color: #FFFFFF;
background: #8098B0;
border-radius: 30px;
padding: 25px 60px;
}

.button-first:hover {
    background: #5a6b7c;
}

#about {
    width: -webkit-fill-available;
    background-color: #EEEFF1;
}

.about {
    padding: 0 449px 100px 451px;
}

.about h2 {
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
text-align: center;
color: #67A0C0;
margin-bottom: 50px;
}

.about p {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 164.06%;
text-align: center;
color: #656565;
}

.about-blue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #8098B0;
    width: -webkit-fill-available;
    height: 250px;
    padding: 0 187px;
    

}

.about-blue-first, .about-blue-two, .about-blue-three, .about-blue-four {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 164.06%;
}

.about-blue p{
    margin-left: 40px;
    width: 140px;
}

#plus {
    width: -webkit-fill-available;
    padding: 102px 143px 101px 147px;
}

.plus {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.table {
    width: 555px;
    height: 450px;
}

.plus-arr {
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
color: #000000;
margin-top:  102px;
}

.plus-text{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 164.06%;
color: #727272;
margin-top:  30px;
}

.plus-text p {
    margin-top:  20px;
    margin-bottom:  20px; 
}

#news {
    width: -webkit-fill-available;
    height: 1004px;
    background-color: #191920;
    padding: 100px 175px 50px 177px;
}

.news h2 {
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
text-align: center;
color: #67A0C0;
margin-bottom: 84px;
}

.news-one img, .news-two img, .news-three img {
    width: 325px;
    height: 422px;
    margin-bottom: 11px;
}

.news-one h5, .news-two h5, .news-three h5 {
    width: 322px;
height: 115px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
color: #8098B0;
margin-bottom: 11px;
}

.news-one p, .news-two p, .news-three p {
    width: 314px;
height: 180px;
font-family: 'Oranienbaum';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
color: #FFFFFF;
}

.news-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#write {
    width: -webkit-fill-available;
    padding: 100px 511px 132px;
    background-color: #EEEFF1;
}

.write {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.write h2 {
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
text-align: center;
color: #67A0C0;
margin-bottom: 50px;
}

.write p {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 164.06%;
text-align: center;
color: #727272;
margin-bottom: 65px;
}

.write-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 191.25px;
height: 50px;
background: #FFFFFF;
padding-left: 15px;
}

.write-form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 464px;
}

textarea {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 435px;
height: 175px;
background: #FFFFFF;
padding: 17px 15px;
}

.button-form {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 142.5px;
height: 55px;
background: #67A0C0;
border-radius: 30px;
color: #FFFFFF;
padding: 20px 15px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 164.06%;
text-align: center;
letter-spacing: 0.15em;
margin-top: 40px;
}

.button-form:hover {
    background: #3d5e72;
}

footer {
    width: -webkit-fill-available;
height: 151px;
background: #44495D
}

.contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 52px 163px 48px 166px;
}

.contacts-text {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
margin-right: 653px;
}

.contacts-text p:first-child {
 margin-bottom: 10px;
}

.contacts a {
    margin-right: 46px;
}

@media screen and (max-width:980px) {

header {
     width: auto;
    background-color: #EEEFF1;
}

.header {
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 20px;
}

.list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    list-style: none;
}

.header-list {
    padding: 0%;
    padding-top: 50px;
}

.list a {
    font-size: 28px;
}

#first {
    padding: 0%;
}

.first {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

/* .picture-first {
    display: none;
} */

.text-first  {
    padding: 0%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-first h1, .text-first p {
    text-align: center;
    margin: 0 5px;
}

.about {
    padding: 0%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 5px;
}

.about-blue {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8098B0;
    width: -webkit-fill-available;
    height: 844px;
    margin-top: 50px;
}

#plus {
    padding: 0%;
}

.plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.plus-arr {
    text-align: center;
    margin-bottom: 50px;
}

.plus-text p {
    margin-bottom: 0%;
}

.table {
    width: 100vw;
}

#news {
    padding: 0%;
    height: max-content;
    padding-top: 20px;
}

.news-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.news-one img, .news-two img, .news-three img {
    height: 200px;
}

.news-one h5, .news-two h5, .news-three h5 {
    height: 73px;
}

.news-one p, .news-two p, .news-three p {
    height: 150px;
}

#write {
    padding: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.write-form div {
flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100vw;
    margin-bottom: 0%;
    margin-left: 5vw;
    margin-right: 5vw;

}

input {
    width: 100vw;
    margin-bottom:  15px;
    /* margin-left: 5vw;
    margin-right: 5vw; */
}

textarea {
    width: 100vw;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    height: fit-content;
}

.contacts {
    padding: 0%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contacts-text {
    margin-right: 0%;
    margin-bottom: 10px;
    width: 100vmax;
    text-align: center;
}

.contacts a {
    margin-right: 10px;
}

}